@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(29, 29, 29);
}

/* custom scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #353535;
}
::-webkit-scrollbar-thumb {
  background: rgb(125, 124, 124);
  border-radius: 12px;
}
