@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.gridContainer {
  background-color: #1b1a2ea9;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: minmax(200px, 400px) minmax(500px, 1fr);
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "header header"
    "aside main";
}

.headerGrid {
  grid-area: header;
}

.asideGrid {
  position: sticky;
  align-self: start;
  top: 60px;
  grid-area: aside;
  height: calc(100vh - 60px);
  /*sticky top-[60px] self-start*/
}

.mainGrid {
  grid-area: main;
}

/* custom scroll */
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: #2d1950;
}
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
